<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<script src="js/angular.min.js"></script>
    <head>
        <meta charset="UTF-8">
        <title>My First Angular App</title>
    </head>

    <style>
        input.ng-invalid {
            background-color: lightcoral;
        }
        .red {
            background-color: lightcoral;
        }
        .blue {
            background-color: lightblue;
        }
        .green {
            background-color: lightgreen;
        }
    </style>

    <body>
    <div ng-app="myApp" ng-controller="myController"> <!-- ng-init="init()"> "firstName='Random'; lastName='Guest'; inputColor='lightblue'"> -->

        <h1 ng-bind="time" align="center"></h1>
        <hr>

        <form name="form">
            <p>Input your first and last name:</p>
            <p>Name : <input type="text" ng-model="name" ng-style="{'background-color':'{{inputColor}}'}" required></p>
            <p>Email Address: <input type="email" name="emailAddress" ng-model="email" required></p>
        </form>

        <p>Hey{{" " + name}}!</p>
        <p>...your email is: <span ng-bind="email | uppercase"></span></p>
        <span ng-show="form.emailAddress.$error.email">Not a valid e-mail address, please re-enter!</span>
        <span ng-show="form.emailAddress.$valid">Good to go!</span>
        <hr>
        <p>Healthy ingredients you can use for the base of a meal are: </p>
        <ul>
            <li ng-repeat="x in foods">
                {{ x }}
            </li>
        </ul>
        <hr>

        <p>Search for Pokemon by type: <input type="text" ng-model="pokemonFilter"></p></p>
        <p><b>{{filtered.length}} results</b></p>
        <table border="1" width="100%">
            <tr>
                <th ng-click="orderByField('name')">Name</th>
                <th ng-click="orderByField('type')">Type</th>
            </tr>
            <tr ng-repeat="x in pokemon | orderBy: orderField | filter: pokemonFilter as filtered" ng-class="{red: x.type == 'fire', blue: x.type == 'water', green: x.type == 'grass'}">
                <td ng-bind="x.name"></td>
                <td ng-bind="x.type | uppercase"></td>
            </tr>
        </table>
        <hr>

        <ul>
            <li ng-repeat="x in customerData">
                {{x.Name + " is from " + x.Country}}
            </li>
        </ul>
        <hr>

        <select ng-model="selectedPokemon" ng-options="x as x.name for x in pokemon"></select>
        <p>You've selected {{selectedPokemon.name}}, which is a {{selectedPokemon.type}} type.</p>

        <select ng-model="selectedExercise" ng-options="x for x in exercises"></select>
        <p>You've selected {{selectedExercise}}.</p>
        <hr>

    </div>

    <script src="js/myApp.js"></script>
    <script src="js/myController.js"></script>

    </body>
</html>