input.ng-invalid {
    background-color: lightcoral;
}

input.ng-valid {
    background-color: lightgreen;
}

form.ng-pristine {
    background-color: lightblue;
}
form.ng-dirty {
    background-color: pink;
}

.red {
    background-color: lightcoral;
}

.blue {
    background-color: lightblue;
}

.green {
    background-color: limegreen;
}